@model CondominiumNetwork.WebApp.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProfileViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday"  class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockApartment" class="control-label"></label>
                <input asp-for="BlockApartment" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="BlockApartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="hidden" name="PhotoUrl" />
                <img src="@Model.PhotoUrl" style="max-height:200px;width:auto" />
               
            </div>
            <div class="form-group">
                <input type="file" name="photoFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" href="javascript:window.history.back();">Go Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
