@model CondominiumNetwork.WebApp.ViewModels.AnswerViewModel

@{
    ViewData["Title"] = "Create Answer";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="Create" asp-controller="Answers">
    <div class="modal-body">

        <partial name="_Answer" />

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <input type="button" class="btn btn-info" value="Close" data-dismiss="modal" />
            </div>
        </div>

    </div>
</form>